/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, ::before, ::after{
    box-sizing: border-box;
}

a, ::before, ::after{
    display: inline-flex;
    color: inherit;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

button, textarea, input, select, option{
    font: inherit;
}

.selected-theme-text{
    color: #18DE97;
}

.btns-wrap{
    display: flex;
    align-items: center;
}

.btns-wrap>:nth-child(n+2){
    margin-left: 1rem;
}

.btn{
    padding: 18px 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    transition: .25s ease-in-out;
}

.btn.filled-btn{
    background-color: #18DE97;
    box-shadow: 0px 6px 13px rgba(24, 222, 151, 0.54);
}

.btn.filled-btn:hover{
    background-color: #15C585;
}

.btn.light-stroked-btn{
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
}

.btn.light-stroked-btn:hover{
    box-shadow: 0px 6px 13px rgba(255, 255, 255, 0.54);
    color: #000000;
    background-color: #ffffff;
}

.header{
    padding: 30px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #F1F1F4;
    top: 0;
    position: sticky;
    z-index: 9999;
}

.title-content{
    text-align: center;
    font-style: italic;
    color: #909090;
    text-transform: uppercase;
}

.section-title{
    margin-bottom: 3rem;
}

p {
    line-height: 2;
}

section{
    padding: 120px 0;
}

.dark-section{
    background-color: #23212b;
}

.text-wrap p {
    line-height: 1.75;
}

.text-wrap.light-text-wrap p {
    color: #ffffff;
}

.text-wrap>:nth-child(n+2){
    margin-top: 2rem;
}

.footer{
    padding: 30px 0;
    border-top: 1px solid #F1F1F4;
}
/* -------------------------------------- hero -------------------------------------- */

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #23212b;
    position: relative;
    overflow: hidden;
}

.hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #23212b 67%, rgba(35, 33, 43, .5) 100%);
}

.hero .container{
    position: relative;
    z-index: 48;
}

.background-swiper-slider{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    z-index: 0;
}

.background-swiper-slider img{
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.hero-info-wrap{
    max-width: 700px;
    width: 100%;
}

h1{
    line-height: 1.5;
    font-weight: 700;
    font-size: 56px;
    color: #ffffff;
    margin-bottom: 30px;
}

.hero-info-wrap p{
    color: #ffffff;
    margin-bottom: 48px;
}

.services-text{
    display: inline-flex;
    font-size: 11px;
    margin-top: 30px;
    color: #ffffff;
}

.hero-slider-wrap{
    position: relative;
}

.cards-slider::before, .cards-slider::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 48;
}

.cards-slider::before {
    background: linear-gradient(90deg, #23212b 3%, rgba(35, 33, 43, .1) 25%);
}

.cards-slider::after {
    background: linear-gradient(270deg, #23212b 3%, rgba(35, 33, 43, .1) 25%);
}

.hero-cards-slider-wrap{
    display: flex;
    width: 600px;
    position: absolute;
}

.hero-card{
    width: 96px;
    height: 96px;
    border-radius: 24px;
    overflow: hidden;
}

.hero-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prompt-slider-wrap{
    max-width: 295px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 205px;
    background-color: #ffffff;
    line-height: 2.35;
    border-radius: 9999px;
    transform: translateX(50%);
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
}

.prompt-slider-wrap>:first-child{
    color: #827D9B;
}

.prompt-text-slider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prompt-title-wrap{
    min-width: 75px;
}

.main-slider{
    position: absolute;
    width: 290px;
    height: 290px;
    border-radius: 42px;
    overflow: hidden;
    bottom: -190px;
    left: 72%;
    transform: translateX(-50%);
    z-index: 49;
}

/* -------------------------------------- hero -------------------------------------- */
