/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, ::before, ::after{
    box-sizing: border-box;
}

a, ::before, ::after{
    display: inline-flex;
    color: inherit;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

button, textarea, input, select, option{
    font: inherit;
}

.selected-theme-text{
    color: #18DE97;
}

.btns-wrap{
    display: flex;
    align-items: center;
}

.btns-wrap>:nth-child(n+2){
    margin-left: 1rem;
}

.btn{
    padding: 18px 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.btn.filled-btn{
    background-color: #18DE97;
    box-shadow: 0px 6px 13px rgba(24, 222, 151, 0.54);
}

.btn.light-stroked-btn{
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #23212b;
}

.hero-info-wrap{
    max-width: 700px;
    width: 100%;
}

h1{
    line-height: 1.5;
    font-weight: 700;
    font-size: 56px;
    color: #ffffff;
    margin-bottom: 30px;
}

.hero-info-wrap p{
    color: #ffffff;
    margin-bottom: 48px;
}

p {
    line-height: 2;
}

section{
    padding: 120px 0;
}

.text-wrap>:nth-child(n+2){
    margin-top: 2rem;
}

.text-wrap p {
    line-height: 1.75;
}

/* -------------------------------------- swiper -------------------------------------- */

.hero-slider-wrap{
    position: relative;
}

.hero-cards-slider-wrap{
    display: flex;
    width: 600px;
    position: absolute;
}

.hero-card{
    width: 96px;
    height: 96px;
    border-radius: 24px;
    overflow: hidden;
}

.hero-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prompt-slider{
    max-width: 295px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    background-color: #ffffff;
    line-height: 2;
    border-radius: 9999px;
    transform: translateX(50%);
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
}

.prompt-text-slider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prompt-title-wrap{
    min-width: 75px;
}

/* -------------------------------------- swiper -------------------------------------- */
